<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="manifest" href="/manifest.json">
    <title>Document</title>
</head>

<body>
    <header>
        {% block header %}

        {% endblock header %}
    </header>
    <div>
        {% block content %}
        <div>
            {%block page%}

            {%endblock page}
        </div>
        {% endblock content %}

    </div>
    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>

</body>

</html>